<nav>
    
    <ul>
        <li style="float:left; margin-right: 700px"><a class="active" href="/">101</a></li>
        <li><a href="/">Confessions</a></li>
        <li><a href="/blogs/create">Add confession</a></li> 
        <li><a href="/about">About</a></li>
    </ul>
</nav>