<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
    <div class="site-title">
        <a href="/">Confession 101</a>
        <p>Confession blog</p>
    </div>
    <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog/create">New confession</a></li>
    </ul>
</nav>
    <div class="about content">
            <h2>All Us</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus velit obcaecati, explicabo molestiae, totam aliquid illum laborum sapiente aut quisquam nobis architecto iste soluta. Aperiam debitis natus iste obcaecati odio?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi! Id quasi atque ea? Modi eaque non eius rem sit nulla labore accusamus? Maxime reprehenderit iste voluptas esse quas odit?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus illum vel rem error deleniti, laboriosam dolorum cupiditate, numquam modi praesentium tempore enim ab! Repellendus vero voluptatibus dicta, aperiam consequuntur quae.</p>
    </div>
</body>
</html>