<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="create-blog content">
        <form>
            <label>Title</label>
            <input type="text" id="title" required placeholder="Confession title">
            <label>Snippet</label>
            <input type="text" id="snippet" required placeholder="Confession Snippet">
            <label for="body">Description</label>
            <input type="textarea" id="body" required placeholder="Description">
            <button><i class="gg-add-r"></i></button>
        </form>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>